/* 
    Created on : 02.03.2011, 21:20:56
    Author     : vozdvin
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Формат всплывающих сообщений */
div.flashNotice, div.flashWarning, div.flashError { 
  margin: 4px 4px 4px 4px;
  padding: 0 1ex 0 1ex;
  border-right: Solid 3px; 
  border-left: Solid 3px
}
div.flashNotice  { border-color: GreenYellow; background: Green;       color: GreenYellow }
div.flashWarning { border-color: Yellow;      background: SaddleBrown; color: Yellow }
div.flashError   { border-color: Red;         background: DarkRed;     color: Gold }

/* Выделение текста, общее */
span.indent, div.indent, span.indentAction { /* reserved */ }
span.info,   div.info,   span.safeAction   { background: DarkGreen;   color: GreenYellow }
span.warn,   div.warn,   span.warnAction   { background: SaddleBrown; color: Yellow }
span.danger, div.danger, span.dangerAction { background: DarkRed;     color: Gold }
span.safeAction a, span.warnAction a, span.dangerAction a { color: inherit }
span.safeAction a:hover, span.warnAction a:hover, span.dangerAction a:hover { color: White }

/* Выделение текста цветной рамкой */
span.indentBorder, div.indentBorder { padding: 3px 5px 3px 5px; border: none }
span.infoBorder,   div.infoBorder,
span.warnBorder,   div.warnBorder, 
span.dangerBorder, div.dangerBorder { padding: 1px 3px 1px 3px }
div.infoBorder   { border: Solid Lime 2px }
div.warnBorder   { border: Solid Yellow 2px }
div.dangerBorder { border: Solid Red 2px }

span.indentBorder, span.infoBorder, span.warnBorder, span.dangerBorder { display: inline-block }
span.infoBorder   { border: Solid Lime 2px }
span.warnBorder   { border: Solid Yellow 2px }
span.dangerBorder { border: Solid Red 2px }