/* 
    Created on : 02.03.2011, 21:20:42
    Author     : vozdvin
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
html { font-size: 1em; }

body {
  background: #091936 url(/images/bg_border.png) 0 0 repeat-x;
  padding: 0 1ex 0 1ex;
  margin-left: auto;
  margin-right: auto;
  color: LightGrey;
  font-family: Verdana, Helvetica, Sans-Serif;
  text-align: justify;
/*  width: 765px; font-size: 100% /**/
/*  width: 320px; font-size: 70%; /**/
/*  width: 240px; font-size: 60%; /**/
/*  width: 176px; font-size: 50%; /**/
}

h1, h2, h3, h4, h5 {
  margin: 6px 0 0 0;
  text-align: Left;
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 100%;
}
h1 { color: White;         font-size: 150%; padding-left: 20% }
h2 { color: AliceBlue;     font-size: 130%; padding-left: 15% }
h3 { color: PaleTurquoise; font-size: 115%; padding-left: 10%; border-top: Solid 1px DodgerBlue }
h4 { color: Turquoise;     font-size: 105%; padding-left: 5% }
h5 { color: DarkTurquoise }

ul, ol { padding: 0 0 0 0; margin: 0 0 0 0 }
ul { padding-left: 2ex }
ol { padding-left: 4ex }
ul li, ol li { margin: 2px 0 1px 0; }

p { margin: 4px 0 4px 0; text-indent: 0; text-align: justify }
li p { margin: 4px 0 4px 0 }

a { color: Bisque; text-decoration: none }
a:link    { border-bottom: Solid 1px }
a:visited { border-bottom: Dashed 1px }
a:hover   { border-bottom: none; color: White }
a:active  { border-bottom: none }

table {
  border: none;
  border-left: Solid 1px DodgerBlue;
  border-top: Solid 1px DodgerBlue;
  vertical-align: top;
  empty-cells: show;
}
td, th {
  border: none;
  border-bottom: Solid 1px DodgerBlue;
  border-right: Solid 1px DodgerBlue;
  padding: 0 1px 2px 1px;
  font-weight: normal
}
th { color: LightGrey }
td { text-align: left }
tbody th { text-align: right }
thead th, tfoot td { vertical-align: bottom; text-align: center }