/* 
    Document   : highlights
    Created on : 02.03.2011, 21:20:56
    Author     : vozdvin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div.comment { font-style: italic; font-size: small }

span.indent, div.indent { /* reserved */ }
span.info,   div.info   { background: DarkGreen }
span.warn,   div.warn   { background: SaddleBrown; color: Yellow }
span.danger, div.danger { background: DarkRed;     color: Yellow }

div.indent { /* reserved */ }
div.info   { background: DarkGreen }
div.warn   { background: SaddleBrown; color: Yellow }
div.danger { background: DarkRed;     color: Yellow }

div.infoBorder, div.warnBorder, div.dangerBorder,
span.infoBorder, span.warnBorder, span.dangerBorder { padding: 1px 3px 1px 3px }
div.indentBorder, span.indentBorder { padding: 3px 5px 3px 5px; border: none }

div.infoBorder   { border: Solid Lime 2px }
div.warnBorder   { border: Solid Yellow 2px }
div.dangerBorder { border: Solid Red 2px }

span.indentBorder, span.infoBorder, span.warnBorder, span.dangerBorder { display: inline-block }
span.infoBorder   { border: Solid Lime 2px }
span.warnBorder   { border: Solid Yellow 2px }
span.dangerBorder { border: Solid Red 2px }

span.indentAction, span.safeAction, span.warnAction, span.dangerAction { margin-top: 1px; display: inline-block }
span.indentAction { border: none;             padding: 2px 3px 2px 3px }
span.safeAction   { border: Solid Lime 1px;   padding: 1px 2px 1px 2px; background: DarkGreen }
span.warnAction   { border: Solid Yellow 1px; padding: 1px 2px 1px 2px; background: SaddleBrown; color: Yellow }
span.dangerAction { border: Solid Red 1px;    padding: 1px 2px 1px 2px; background: DarkRed;     color: Gold }

div.flashNotice, div.flashError { border: none; margin: 0.25em 0.25ex 0.25em 0.25ex; padding: 0.25em 0.25ex 0.25em 0.5ex }
div.flashNotice { border-left: Solid Lime 4px; background: Green;   color: White }
div.flashError  { border-left: Solid Red 4px;  background: DarkRed; color: Yellow }

/*
Предопределенное имя в SF - ошибки в формах.
Должно быть без уточнения контейнера.
*/
.error_list { color: Red }
