/* 
    Created on : 02.03.2011, 21:20:56
    Author     : vozdvin
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Формат всплывающих сообщений */
div.flashNotice, div.flashWarning, div.flashError { 
  margin: 4px 4px 4px 4px;
  padding: 0 1ex 0 1ex;
  border-right: Solid 3px; 
  border-left: Solid 3px
}
div.flashNotice  { border-color: GreenYellow; background: Green;       color: GreenYellow }
div.flashWarning { border-color: Yellow;      background: SaddleBrown; color: Yellow }
div.flashError   { border-color: Red;         background: DarkRed;     color: Gold }

/* Выделение текста, общее */
span.indent, div.indent, span.indentAction { /* reserved */ }
span.info,   div.info,   span.safeAction   { color: Lime }
span.warn,   div.warn,   span.warnAction   { color: Yellow }
span.danger, div.danger, span.dangerAction { color: Red }
span.indentAction, span.safeAction, span.warnAction, span.dangerAction
{
  display: inline-block;
  padding: 0px 2px 1px 2px;
  border: 1px Solid;
  border-bottom: none;
}
span.indentAction { padding: 1px 3px 2px 3px; border: none }
span.safeAction   { /* reserved */ }
span.warnAction   { /* reserved */ }
span.dangerAction { /* reserved */ }
span.info a, span.warn a, span.danger a,
span.safeAction a, span.warnAction a, span.dangerAction a { color: inherit }
/* span.safeAction a:hover, span.warnAction a:hover, span.dangerAction a:hover { color: White } */

div.complexList { vertical-align: top }
div.complexList div.cell { display: inline-block; vertical-align: inherit } 
div.evenLine, div.oddLine {
  padding: 0px 0 4px 0;
  vertical-align: inherit;
}
div.evenLine { background: none }
div.oddLine { background-color: Navy }

/* Выделение текста цветной рамкой */
span.indentBorder, div.indentBorder { padding: 3px 5px 4px 5px; border: none }
span.infoBorder,   div.infoBorder,
span.warnBorder,   div.warnBorder, 
span.dangerBorder, div.dangerBorder { padding: 1px 3px 2px 3px }
span.indentBorder, span.infoBorder, span.warnBorder, span.dangerBorder
{
  display: inline-block;
}
span.infoBorder, span.warnBorder, span.dangerBorder,
div.infoBorder, div.warnBorder, div.dangerBorder
{
  border-style: Solid;
  border-top-width: 1px;
  border-right-width: 2px;
  border-bottom-width: 1px;
  border-left-width: 2px;
}
span.infoBorder,   div.infoBorder   { border-color: Lime }
span.warnBorder,   div.warnBorder   { border-color: Yellow }
span.dangerBorder, div.dangerBorder { border-color: Red }