/*
    Created on : 02.03.2011, 21:20:50
    Author     : vozdvin
*/

/*
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Комментарии на страницах */
div.comment { font-style: italic; font-size: small }

/* Форматирование списка свойств */
div.propName, div.propValue { display: inline-block; vertical-align: top; padding-bottom: 2px }
div.propName  { text-align: right; color: LightGrey }
div.propValue { padding-left: 0.5ex }

/* Форматирование "хлебных крошек" */
div.breadcombs {
  border: Solid DodgerBlue;
  padding-bottom: 2px;
  border-top: none;
  border-right: none;
  border-bottom-width: 1px;
  border-left-width: 3px;
}
div.breadcomb {
  display: inline-block;
  margin-left: 3px; 
  padding: 0 3px 1px 0;
  border: Solid DodgerBlue;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom: none;
  border-left: none;
}

/* Карта сайта и ссылки на ней */
div.siteMap {
  margin-top: 0.5em;
  padding-top: 2px;
  border: Solid DodgerBlue;
  border-top-width: 1px;
  border-right: none;
  border-bottom: none;
  border-left-width: 3px;
  font-size: smaller;
  font-style: italic;
}
div.siteMapItem {
  display: inline-block;
  margin-left: 3px; 
  padding: 0 3px 3px 0;
  border: Solid DodgerBlue;
  border-top: none;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left: none;
}

/* Горизонтальная линия над блоком */
div.hr { border-top: Solid 1px DodgerBlue; margin: 3px 0 3px 0 }

/* Заголовок с возможностью дописывания */
div.h3inline { border-top: Solid 1px DodgerBlue; margin: 5px 0 3px 0 }
h3.inline { display: inline; margin: 0 0 0 0; border: none}

/* Cтолбцы данных */
div.columnName, div.columnValue {
  display: inline-block;
  margin-top: 1px;
  border-bottom: Solid 1px Green;
  padding-bottom: 2px
}
div.columnName  { vertical-align: bottom; font-weight: bold; color: PaleGreen; text-align: center }
div.columnValue { /* reserved */ }

/* Блог, сообщения и комментарии */
div.blogPost,
div.blogPost div.blogComment {
  border: none;
  padding-left: 5px;
}
div.blogPost {
  margin-top: 3px;
  border-top: Solid 1px DodgerBlue;
  border-left: Solid 2px DodgerBlue;
}
div.blogPost div.blogComment {
  margin: 3px 0 3px 10px;
  border-top: Solid 1px Grey;
  border-left: Solid 2px Grey;
  font-size: Smaller
}

div.blogPost    div.itemControls,
div.blogComment div.itemControls {
  float: right;
  margin-left: 5px;
  padding: 0 0 2px 2px;
  text-align: right;
  color: Gray
    
}
div.blogPost    div.itemControls {
  border-left: Solid 1px DodgerBlue;
  border-bottom: Solid 1px DodgerBlue;
}
div.blogComment div.itemControls {
  border-left: Solid 1px Grey;
  border-bottom: Solid 1px Grey;
} 

div.blogPost div.text,
div.blogComment div.text {
  margin-top: 3px;
}

div.blogPages { /*reserved*/ }
div.blogPagesIndex { float: right }
div.blogPagesIndex div.item,
div.blogPagesIndex div.currentItem { display: inline-block; padding: 0 0.5ex 0 0.5ex }
div.blogPagesIndex div.item { font-weight: bold }
div.blogPagesIndex div.currentItem { background-color: Green }

/* Главное меню */
div.menu { background-color: Navy; border: Solid 1px DodgerBlue }
div.menu ul { padding: 0 3px 3px 3px; list-style: none; vertical-align: middle }
div.menu ul li { font-weight: bold; display: inline; vertical-align: middle }
div.menu ul li a,
div.menu ul li a:visited { color: Aqua; text-decoration: none; border-bottom: Solid Aqua 1px }
div.menu ul li a:hover,
div.menu ul li a:active  { color: White; background-color: Blue; border-bottom: none }

/* Кнопка действия (пока не используется) */
div.imageButton { display: inline-block; vertical-align: middle }

/* Табличное оформление - устаревает */
th.bottomWeakBorder,
td.bottomWeakBorder { vertical-align: top; border-bottom: Solid 1px Blue }

/* Страничный интерфейс */
table.tabControl { width: 100%; border: none; margin-top: 0.25em }
table.tabControl th.tabTitle { border: none; border-bottom: Solid 1px DodgerBlue; padding-bottom: 2px; }
table.tabControl th.tabTitleActive {
  background-color: #091936;
  border: Solid 1px DodgerBlue;
  border-top-width: 2px;
  border-bottom: none }
table.tabControl td.tabSheet {
  padding: 4px 4px 4px 4px;
  background: Black url(/images/bg_main.png) 0 0 repeat-x;
  border: Solid 1px DodgerBlue; border-top: none
}

